*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../images/math-wallpaper.jpg);
    background-size: 100%;
}
div.body{
    background-color: white;
    text-align: center;
    border-radius: 5%;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 15%;
}
div.header {
    border-bottom: 2px solid black;
    padding: 23px;
    margin-left: 25%;
    margin-right: 25%;
    transition: 2s ease-out;
}
div.header:hover {
    border-bottom: 2px solid blue;
    margin-left: 8%;
    margin-right: 8%;
}
h1.head {
    color: blue;
    font-family: 'Bell MT';
    font-weight: bolder;
}
h1.head2 {
    font-weight: bolder;
    font-family: 'Bradley Hand ITC';
}
h3 {
    font-style: italic;
    font-weight: lighter;
    font-size: 17px;
}
label{
    font-family: 'Agency FB';
    font-size: 25px;
    font-weight: bolder;

}
form {
    padding-top: 30px;
}
p{
    padding: 10px;
}
input {
    width: 50%;
    height: 30px;
    border: 1px solid #0000ff;
    font-family: 'Arial Narrow';
    font-size: 15px;
    border-bottom: none;
    border-right: none;
    
}
input:hover {
    border: 1px solid #008000;
    transition: 1s;
}
label.footer{
    font-family: sans-serif;
    font-size: medium;
    font-weight: lighter;
    padding-left: 5px;

}
input.check {
    width: 15px;
    height: 14px;
}
a{
    text-decoration: none;
}
button {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Bradley Hand ITC';
    font-weight: bolder;
    background-color: blue;
    border: none;
    width: 60%;
    height: 50px;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
}
button:focus {
    background-color: #008000;
}

button:hover {
    background-color: #008000;
    transition: 1s;
}
section.footer {
    font-style: italic;
    font-family: 'Arial Narrow';
    font-size: 18px;
    padding-bottom: 2px;
}
p.check{
    padding-left: 0px;
    margin-left: 25%;
    text-align: left;
    padding-top: 20px;
}